<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.seung.web1.user.vo.User" alias="user" />	
		<typeAlias type="com.seung.web1.group.vo.Group" alias="group"/>
		<typeAlias type="com.seung.web1.group.vo.GroupInUser" alias="giu"/>
		<typeAlias type="com.seung.web1.board.vo.Board" alias="board"/>
		<typeAlias type="com.seung.web1.board.vo.Reply" alias="reply"/>
	</typeAliases>

	
	<mappers>
		<mapper resource="mappers/userMapper.xml"/>
		<mapper resource="mappers/groupMapper.xml"/>
		<mapper resource="mappers/boardMapper.xml"/>
	</mappers>
	 
</configuration>
